button {
  all: unset;
}

.DropdownMenuContent {
  @apply text-xs w-[140px] flex flex-col gap-1 border rounded-lg shadow mx-2;
  background-color: var(--t0);
  border-color: var(--t2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.DropdownMenuContent[data-side="top"] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem {
  @apply border-t border-t-[var(--t3)] w-full font-bold flex flex-row items-center justify-center relative h-6 select-none px-2;
  color: var(--t10);
}

.DropdownMenuItemSelected {
  @apply w-full font-bold flex flex-row items-center justify-center relative h-6 select-none px-2;
  color: var(--background);
  background-color: blue !important;
}

.DropdownMenuItem[data-disabled] {
  color: var(--blue-8);
  pointer-events: none;
}

.DropdownMenuItem[data-highlighted] {
  @apply outline-none;
  background-color: var(--t3);
  color: var(--t10);
}

.DropdownMenuItemSelected[data-highlighted] {
  @apply outline-none;
}

.DropdownMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.DropdownMenuArrow {
  fill: var(--t6);
}

.TooltipContent {
  @apply shadow;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1;
  color: var(--t10);
  background-color: white;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.TooltipContent[data-state="delayed-open"][data-side="top"] {
  animation-name: slideDownAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

.TooltipArrow {
  fill: white;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
