@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
  color: black;
  --tBase: hsl(222, 14%, 85%);

  --t10: black;
  --t9: oklch(from var(--tBase) 0.03 c h);
  --t8: oklch(from var(--tBase) 0.08 c h);
  --t7: oklch(from var(--tBase) 0.15 c h);
  --t6: oklch(from var(--tBase) 0.25 c h);
  --t5: oklch(from var(--tBase) 0.5 c h);
  --t4: oklch(from var(--tBase) 0.75 c h);
  --t3: oklch(from var(--tBase) 0.85 c h);
  --t2: oklch(from var(--tBase) 0.92 c h);
  --t1: oklch(from var(--tBase) 0.97 c h);
  --t0: white;

  --urgent: hsl(350, 100%, 40%);
  --high: hsl(35, 100%, 50%);
  --medium: hsl(35, 100%, 50%);
  --low: hsl(35, 100%, 50%);
  --will: hsl(240, 100%, 38%);
  --maybe: hsl(240, 100%, 38%);
  --unlikely: hsl(240, 100%, 38%);
  --unsorted: hsl(240, 100%, 38%);
  --done: hsl(118, 100%, 27%);
  --rejected: hsl(50, 100%, 22%);
  --closed: hsl(50, 100%, 22%);
}

.dark {
  background-color: black;
  color: white;
  --background: black;
  --foreground: white;
  --foreground-100: #101010;
  --foreground-200: #202020;
  --foreground-300: #404040;
  --foreground-400: #606060;
  --foreground-500: #808080;
  --foreground-600: #a0a0a0;
  --foreground-700: #c0c0c0;
  --foreground-800: #e0e0e0;
  --foreground-900: #f0f0f0;
}
