@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@radix-ui/colors";

html {
  background-color: white;
  color: black;

  --tBase: oklch(0.5 0.05 270);

  --t10: black;
  --t9: oklch(from var(--tBase) 0.2 c h);
  --t8: oklch(from var(--tBase) 0.3 c h);
  --t7: oklch(from var(--tBase) 0.5 c h);
  --t6: oklch(from var(--tBase) 0.6 c h);
  --t5: oklch(from var(--tBase) 0.75 c h);
  --t4: oklch(from var(--tBase) 0.85 c h);
  --t3: oklch(from var(--tBase) 0.9 c h);
  --t2: oklch(from var(--tBase) 0.95 c h);
  --t1: oklch(from var(--tBase) 0.97 c h);
  --t0: white;

  --pink: #ff7eae;
  --green: #3fba53;
  --blue: #3677f8;
  --yellow: #ffb300;
}

.dark {
  background-color: black;
  color: white;

  --t0: black;
  --t1: oklch(from var(--tBase) 0.2 c h);
  --t2: oklch(from var(--tBase) 0.25 c h);
  --t3: oklch(from var(--tBase) 0.3 c h);
  --t4: oklch(from var(--tBase) 0.35 c h);
  --t5: oklch(from var(--tBase) 0.4 c h);
  --t6: oklch(from var(--tBase) 0.5 c h);
  --t7: oklch(from var(--tBase) 0.6 c h);
  --t8: oklch(from var(--tBase) 0.75 c h);
  --t9: oklch(from var(--tBase) 0.95 c h);
  --t10: white;

  --pink: #ff609b;
  --green: #1a9d2f;
  --blue: #3677f8;
  --yellow: #ffa600;
}
