@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@radix-ui/colors";

html {
  background-color: white;
  color: black;
  --pinkBase: oklch(0.27 0.05 350.03);
  --purpleBase: oklch(0.27 0.05 310.03);
  --blueBase: oklch(0.27 0.05 273.03);
  --tealBase: oklch(0.27 0.05 200.03);
  --greenBase: oklch(0.27 0.05 150.03);

  --tBase: var(--blueBase);

  --t10: black;
  --t9: oklch(from var(--tBase) 0.2 c h);
  --t8: oklch(from var(--tBase) 0.3 c h);
  --t7: oklch(from var(--tBase) 0.5 c h);
  --t6: oklch(from var(--tBase) 0.6 c h);
  --t5: oklch(from var(--tBase) 0.75 c h);
  --t4: oklch(from var(--tBase) 0.85 c h);
  --t3: oklch(from var(--tBase) 0.9 c h);
  --t2: oklch(from var(--tBase) 0.95 c h);
  --t1: oklch(from var(--tBase) 0.97 c h);
  --t0: white;

  --lightGray: var(--t2);
  --lightBlue: oklch(0.93 0.07 232);
  --lightBrown: oklch(0.93 0.07 90);
  --lightGreen: oklch(0.93 0.07 150);
  --lightOrange: oklch(0.96 0.07 97.08);
  --lightPurple: oklch(0.93 0.07 310);
  --lightRed: oklch(0.93 0.07 25);

  --darkGray: var(--t8);
  --darkBlue: oklch(0.4 0.21 232);
  --darkBrown: oklch(0.37 0.08 97.88);
  --darkGreen: oklch(0.43 0.14 150);
  --darkOrange: oklch(0.66 0.23 35.22);
  --darkPurple: oklch(0.32 0.14 310);
  --darkRed: oklch(0.5 0.2 25);
}

.dark {
  background-color: black;
  color: white;
  --tBase: var(--blueBase);

  --t0: black;
  --t1: oklch(from var(--tBase) 0.2 c h);
  --t2: oklch(from var(--tBase) 0.25 c h);
  --t3: oklch(from var(--tBase) 0.3 c h);
  --t4: oklch(from var(--tBase) 0.35 c h);
  --t5: oklch(from var(--tBase) 0.4 c h);
  --t6: oklch(from var(--tBase) 0.5 c h);
  --t7: oklch(from var(--tBase) 0.6 c h);
  --t8: oklch(from var(--tBase) 0.75 c h);
  --t9: oklch(from var(--tBase) 0.95 c h);
  --t10: white;

  --lightGray: var(--t2);
  --lightBlue: oklch(0.25 0.15 232);
  --lightBrown: oklch(0.25 0.15 90);
  --lightGreen: oklch(0.25 0.15 150);
  --lightOrange: oklch(0.25 0.15 50);
  --lightPurple: oklch(0.25 0.15 310);
  --lightRed: oklch(0.25 0.15 25);

  --darkGray: var(--t8);
  --darkBlue: oklch(0.95 0.1 232);
  --darkBrown: oklch(0.95 0.1 97.88);
  --darkGreen: oklch(0.95 0.1 150);
  --darkOrange: oklch(0.95 0.1 90.22);
  --darkPurple: oklch(0.95 0.1 310);
  --darkRed: oklch(0.95 0.1 25);
}
